<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/carbono?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/carbono?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <!-- Dialecto de Hibernate para MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Configuración de Hibernate -->
    <property name="hibernate.show_sql">false</property> <!-- Muestra las consultas SQL en la consola -->
    <property name="hibernate.format_sql">false</property> <!-- Formatea las consultas SQL -->
    <property name="hibernate.hbm2ddl.auto">update</property> <!-- Crea o actualiza tablas automáticamente -->

    <!-- Mapeo de las clases -->

    <mapping class="com.github.jcapitanmoreno.entities.Actividad"/>
    <mapping class="com.github.jcapitanmoreno.entities.Categoria"/>
    <mapping class="com.github.jcapitanmoreno.entities.Habito"/>
    <mapping class="com.github.jcapitanmoreno.entities.HabitoId"/>
    <mapping class="com.github.jcapitanmoreno.entities.Usuario"/>
    <mapping class="com.github.jcapitanmoreno.entities.Huella"/>
    <mapping class="com.github.jcapitanmoreno.entities.Recomendacion"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>